<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{% block titre %}Blog{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ asset('bundles/blog/template/assets/css/main_blog.css') }}" />
		<!-- Bootstrap core CSS -->
		<link href="{{ asset('bundles/blog/articleTemplate/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{{ asset('bundles/blog/articleTemplate/css/blog-post.css') }}" rel="stylesheet">
		{% block css %} {% endblock %}
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="{{ path('blog_index') }}">BonPlan</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					{% block elementsMenu %}
                        {% if app.user %}
							<li><a href="{{ path('list_utilisateur', {'id':  app.user.id }) }}">{{ app.user.username }}</a></li>
							<li><a href="{{ path('fos_user_security_logout') }}">Déconnecter</a></li>
                        {% else %}
							<li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
							<li><a href="{{ path('fos_user_registration_register') }}">Créer compte</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
							<li><a href="{{ path('blog_ajouterArticle') }}">Nouveau article</a></li>
                        {% endif %}
					<li><a href="{{ path('blog_listeArticles') }}">Tout les articles</a></li>
					{% endblock %}
				</ul>
			</nav>

		<!-- Banner -->
		<!-- Footer -->
		{% block content %}
		{% endblock %}

		<!-- Scripts -->
		<script src="{{ asset('bundles/blog/articleTemplate/vendor/jquery/jquery.min.js') }}"></script>
		<script src="{{ asset('bundles/blog/articleTemplate/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('bundles/blog/template/assets/js/jquery.min.js') }}"></script>
			<script src="{{ asset('bundles/blog/template/assets/js/browser.min.js') }}"></script>
			<script src="{{ asset('bundles/blog/template/assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ asset('bundles/blog/template/assets/js/util.js') }}"></script>
			<script src="{{ asset('bundles/blog/template/assets/js/main.js') }}"></script>
    {% block scripts %}
    {% endblock %}

	</body>
</html>
