
<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>{% block titre %}Titre template{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{{ asset('bundles/blog/template/assets/css/main.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    #myCarousel {
        width:100%;
        height: 90%;
    }

    /*tours*/
    .tm-home-section-1{position: relative ; }
    .section-margin-top{margin-top: 50px ;}
    .tm-section-header{margin-bottom: 70%; overflow: hidden ; width: 100%;}
    .tm-section-title{text-align: center ; text-transform: uppercase; font-size: 36px ;font-weight: 100 ;}
    hr{border-top: 1px solid #111010 ;
    margin-top : 45px ;}
    h2{font-family: 'Open Sans', sans-serif ; }
    h2{padding:0 ; margin-bottom : 10% ;}

    .tm-tours-box-1 {width: 100% ;  margin-bottom: 50px ;}
    .tm-tours-box-1-info {background: white ;padding : 40px ;overflow: hidden ;}
    .tm-tours-box-1-link  {overflow: hidden ;}
   .tm-tours-box-1-info-left{border-right: 1px solid #B1B1B1;
       padding-right: 30px;}
   .tm-tours-box-1-info-right{padding-left: 30px;}
    .tm-tours-box-1-info-right,.tm-tours-box-1-info-left { float: left;
        width: 50%;}
    .tours-1-description {line-height: 1.8;}
    .gray-text {color: #B1B1B1;}
    p{font-family: 'Open Sans', sans-serif;}
    a{font-family: 'Open Sans', sans-serif;}

    .tm-tours-box-1-link-left , .tm-tours-box-1-link-right {    color: white;
        height: 60px;
    }

    .tm-tours-box-1-link-left {background-color: #87B7C3;
        padding: 20px 30px;
        float: left;
        width: 75%;
        text-transform: uppercase;}

    .tm-tours-box-1-link-right {float: left;
        background-color: #87B7C3;
        font-weight: 400;
        font-size: 25px;
        display: block;
        padding: 10px 30px ;
        width: 25%;
        transition: all 0.3s;
        text-align: center;}



    /*COMMENTAIRE*/


    @import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

    .detailBox {
        width:320px;
        border:1px solid #bbb;
        margin-top:0px;
        margin-left:40px ;
    }
    .titleBox {
        background-color:#fdfdfd;
        padding:10px;
    }
    .titleBox label{
        color:#444;
        margin:0;
        display:inline-block;
    }

    .commentBox {
        padding:10px;
        border-top:1px dotted #bbb;
    }
    .commentBox .form-group:first-child, .actionBox .form-group:first-child {
        width:80%;
    }
    .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
        width:18%;
    }
    .actionBox .form-group * {
        width:100%;
    }
    .taskDescription {
        margin-top:10px 0;
    }
    .commentList {
        padding:0;
        list-style:none;
        max-height:200px;
        overflow:auto;
    }
    .commentList li {
        margin:0;
        margin-top:10px;
    }
    .commentList li > div {
        display:table-cell;
    }
    .commenterImage {
        width:30px;
        margin-right:5px;
        height:100%;
        float:left;
    }
    .commenterImage img {
        width:100%;
        border-radius:50%;
    }
    .commentText p {
        margin:0;
    }
    .sub-text {
        color:#aaa;
        font-family:verdana;
        font-size:11px;
    }
    .actionBox {
        border-top:1px dotted #bbb;
        padding:10px;

    }



</style>
</head>
<body class="is-preload">

<!-- Header -->
<header id="header">
    <a class="logo" href="index.html">BonPlan</a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        {% block elementsMenu %}
            <li><a href="index.html">Home</a></li>
            <li><a href="elements.html">Elements</a></li>
            <li><a href="generic.html">Generic</a></li>
        {% endblock %}
    </ul>
</nav>

<!-- Banner -->




<section class="container tm-home-section-1" id="more">

<div class="section-margin-top">
            <div class="row">

                <div class="tm-section-header">
                    <div class="col-lg-3 "><hr></div>
                    <div class="col-lg-6 "><h2 class="tm-section-title"></h2></div>
                    <div class="col-lg-3"><hr></div>


                </div>
            </div>


        </div>



    <div class="row">

        <div class="col-lg-12">
            <div class="tm-tours-box-1">
                <img src="https://www.w3schools.com/bootstrap/chicago.jpg" alt="image" style="width:100%;" class="img-responsive">
                <div class="tm-tours-box-1-info">
                    <div class="tm-tours-box-1-info-left">
                        <p class="text-uppercase margin-bottom-20">NOM</p>
                        <p class="text-uppercase margin-bottom-20"></p>

                        <p class="gray-text"> <span class="glyphicon glyphicon-calendar"></span> 28 March 2084</p>
                        <p class="gray-text">  Adresse : </p>
                        <p class="gray-text">  Tel: </p>



                    </div>
                    <div class="tm-tours-box-1-info-right">
                        <p class="gray-text tours-1-description">Lorem quis bibendum auctor, nisi elit consequat ipsum, sec sagittis sem nibh id elit.</p>
                        <p class="gray-text tours-1-description">Prix</p>

                    </div>
                </div>

                <div class="tm-tours-box-1-link">
                    <div class="tm-tours-box-1-link-left">


                    </div>
                    <a href="#" class="tm-tours-box-1-link-right">
                        Je Participe !
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4">
            <div class="detailBox">
                <div class="titleBox">
                    <label>Comment Box</label>

                </div>

                <div class="actionBox">
                    <ul class="commentList">
                        {% for commentaire in commentaire  %}
                        <li>
                            <div class="commenterImage">
                                <img src="http://placekitten.com/50/50" />
                            </div>
                            <div class="commentText">
                                <p class="">{{ commentaire.contenu }}</p> <span class="date sub-text">{{ commentaire.date | date('d-m-Y ') }}</span><br>

                                   <a href="{{ path('_supprimer',{'id':commentaire.id ,'ide':detail.id}) }}"> <span class="glyphicon glyphicon-remove" style="font-size: 10px;" ></span></a>
                                <a href="{{ path('_modifier',{'id':commentaire.id ,'ide':detail.id}) }}"><span class="glyphicon  glyphicon glyphicon-wrench" style="font-size: 10px;" ></span></a>



                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                    <form class="form-inline" role="form" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" name="contenu" placeholder="Your comments" />
                        </div>
                        <input type="hidden" name="idc" value="">
                        <div class="form-group">
                            <button type="submit"  class="btn btn-default">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</section>



<!-- Footer -->




<!-- Scripts -->
<script src="{{ asset('bundles/blog/template/assets/js/browser.min.js') }}"></script>
<script src="{{ asset('bundles/blog/template/assets/js/breakpoints.min.js') }}"></script>
<script src="{{ asset('bundles/blog/template/assets/js/util.js') }}"></script>
<script src="{{ asset('bundles/blog/template/assets/js/main.js') }}"></script>
<!--flexSlider-->




</body>
</html>

